SERVER_PORT=8080
RDVP_SERVICE_NAME=rdvp-backend
RDVP_SERVICE_VERSION=0.1.0
RDVP_DATASOURCE_URL=jdbc:postgresql://localhost:5432/rdvp
RDVP_DATASOURCE_USERNAME=rdvp
RDVP_DATASOURCE_PASSWORD=rdvp_dev_password
RDVP_POSTGIS_IMAGE=postgis/postgis:17-3.5
RDVP_POSTGRES_PORT=5432
